@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Red Hat Display', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}


#app {
  /* max-width: 1400px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  overflow-x: hidden;
}

.main-content, .footer-container {
  max-width: 1240px;
  margin: 0 auto;
}
.img-container {
  max-width: 1120px;
}
/* color  */
.cyan-600 {
  color: #4D96A9;
}
.cyan-300 {
  color: #8FE3F9;
}
.purple-600 {
  color: #855FB1;
}
.purple-300 {
  color: #D9B8FF;
}
.slate-900 {
  color: #28283D;
}
.slate-600 {
  color: #87879D;
}
.slate-300 {
  color: #D1D1DF;
}

/* Typography */
.text-preset-1 {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: 0;
}
.text-preset-2 {
  font-size: 2.5rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: 0;
}
.text-preset-3 {
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: .25rem;
}
.text-preset-4 {
  font-size: 1.125rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0;
}
.text-preset-5 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 900;
  letter-spacing: .25rem;
  letter-spacing: 0;
}

@media (max-width: 1024px) {
  .hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "img-left img-right"
      "hero-text hero-text";
    justify-items: center;
  }

  .img-left {
    grid-area: img-left;
  }
  .img-right {
    grid-area: img-right;
  }
  .hero-text {
    grid-area: hero-text;
  }
  .text-preset-1 {
    font-size: 3em;
  }
  .hero-text {
    margin-top: 4.5em;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    justify-content: center;
  }
 
  .text-preset-3 {
    font-size: 1rem;
  }
  .text-preset-2 {
    font-size: 2rem;
  }
  .text-preset-1 {
    font-size: 2.7rem;
  }
}

@media(max-width: 500px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
  }
}


