:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* color  */
.cyan-600 {
  color: #4D96A9;
}
.cyan-300 {
  color: #8FE3F9;
}
.purple-600 {
  color: #855FB1;
}
.purple-300 {
  color: #D9B8FF;
}
.slate-900 {
  color: #28283D;
}
.slate-600 {
  color: #87879D;
}
.slate-300 {
  color: #D1D1DF;
}

/* Typography */
.text-preset-1 {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: 0;
}
.text-preset-2 {
  font-size: 2.5rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: 0;
}
.text-preset-3 {
  font-size: 2.5rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: .25rem;
}
.text-preset-4 {
  font-size: 1.125rem;
  line-height: 110%;
  font-weight: 900;
  letter-spacing: 0;
}
.text-preset-5 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 900;
  letter-spacing: .25rem;
  letter-spacing: 0;
}

